<div class="jumbotron">
    <h3>Welcome</h3>

    <p class="">
        The Predictive Integrated Structural Materials Science (PRISMS) Center is dedicated to the development of
        integrated multi-scale computations tools. These tools enable the prediction and analysis of microstructural
        evolution and mechanical behavior of structural materials.
    </p>
    <a class="btn btn-large btn-success" href="architecture.html">View Our Multiscale Architecture</a>
</div>

<hr>

<div class="row-fluid marketing">
    <div class="span12">
        <h4>Materials Commons</h4>

        <p>
            We are developing a knowledge repository and virtual
            collaboration space for curating, archiving and disseminating information from experiments
            and computations as well as providing a collaborative platform for development of opensource
            code with active involvement of a broader PRISMS open source community. This repository is called
            Materials Commons and will be available at <a href="http://materialscommons.org">http://materialscommons.org</a>.
        </p>

        <p>
            Check back here and at the Materials Commons site for updates. We are working hard to build up our
            repository of computational and experimental data and results.
        </p>
    </div>
</div>

<div class="row-fluid marketing">
    <div class="span12">
        <h4><i class="icon-bullhorn space-icon5"></i>News</h4>
        <ul style="list-style-type: none;">
            <li><i class="icon-arrow-right space-icon5"></i>PRISMS Center Launches in October 2012</li>
        </ul>
    </div>
</div>

<hr>

