<div class="jumbotron">
    <h3>Welcome</h3>

    <p class="">
        The Predictive Integrated Structural Materials Science (PRISMS) Center is dedicated to the development of
        integrated multi-scale computations tools. These tools enable the prediction and analysis of microstructural
        evolution and mechanical behavior of structural materials.
    </p>
</div>

<hr>

<div class="row-fluid marketing">
    <div class="span12">
        <h4><i class="icon-bullhorn space-icon5"></i>News</h4>
        <ul style="list-style-type: none;">
            <li><i class="icon-arrow-right space-icon5"></i>PRISMS Center Launches in October 2012</li>
        </ul>
    </div>
</div>

<hr>

