<p>
    We are developing a knowledge repository and virtual
    collaboration space for curating, archiving and disseminating information from experiments
    and computations as well as providing a collaborative platform for development of open source
    code with active involvement of a broader PRISMS open source community. This repository is called
    Materials Commons.
</p>

<p>
    <b>Our Isilon Storage Cluster</b> - <i>390TB</i> of space for the Materials Commons repository!
</p>
<img src="assets/img/IsilonCluster.jpg" height="114px" width="217px">

<p>
    Check back here and we'll let you know when the repository is available. We are working hard to build the Materials
    Commons set of tools and data.
</p>